@import '../../css/variables';

.chat {
  height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 1rem;

  &__messages {
    overflow-y: scroll;
  }

  &__input {
    padding: 1rem 1rem 1rem 0;
  }
}

